{% extends 'base.html.twig' %}

{% block title %}Convention index{% endblock %}

{% block body %}
    <h1>Convention index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Montant</th>
                <th>LibellePDF</th>
                <th>UpdatedAt</th>
                <th>Objet</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for convention in conventions %}
            <tr>
                <td>{{ convention.id }}</td>
                <td>{{ convention.dateDebut ? convention.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ convention.dateFin ? convention.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ convention.montant }}</td>
                <td>{{ convention.libellePDF }}</td>
                <td>{{ convention.updatedAt ? convention.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ convention.objet }}</td>
                <td>
                    <a href="{{ path('convention_show', {'id': convention.id}) }}">show</a>
                    <a href="{{ path('convention_edit', {'id': convention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('convention_new') }}">Create new</a>
{% endblock %}
