{% extends 'base.html.twig' %}

{% block title %}Contrat index{% endblock %}

{% block body %}
    <h1>Contrat index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Objet</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Preavis</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Enregistrement</th>
                <th>Periodicite Entretien</th>
                <th>Periodicite Facturation</th>
                <th>Augmentation</th>
                <th>PDF</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.objet }}</td>
                <td>{{ contrat.dateDebut ? contrat.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.dateFin ? contrat.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ contrat.preavis }}</td>
                <td>{{ contrat.type }}</td>
                <td>{{ contrat.montant }}</td>
                <td>{{ contrat.numEnregistrement }}</td>
                <td>{{ contrat.periodiciteEntretien }}</td>
                <td>{{ contrat.periodiciteFacturation }}</td>
                <td>{{ contrat.augmentation }}</td>
                <td><a href={{ asset("uploads/pdf/contrats/" ~ contrat.libellePDF|url_encode ) }}>{{contrat.libellePDF}}</a></td>
                <td>
                    <a href="{{ path('contrat_show', {'id': contrat.id}) }}">show</a>
                    <a href="{{ path('contrat_edit', {'id': contrat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contrat_new') }}"><button class="btn btn-secondary">Create new</button></a>
{% endblock %}
