{% extends 'base.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
    <h1>Contrat</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
            <tr>
                <th>Objet</th>
                <td>{{ contrat.objet }}</td>
            </tr>
                <th>Id</th>
                <td>{{ contrat.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ contrat.dateDebut ? contrat.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ contrat.dateFin ? contrat.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Preavis</th>
                <td>{{ contrat.preavis }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ contrat.type }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ contrat.montant }}</td>
            </tr>
            <tr>
                <th>NumEnregistrement</th>
                <td>{{ contrat.numEnregistrement }}</td>
            </tr>
            <tr>
                <th>PeriodiciteEntretien</th>
                <td>{{ contrat.periodiciteEntretien }}</td>
            </tr>
            <tr>
                <th>PeriodiciteFacturation</th>
                <td>{{ contrat.periodiciteFacturation }}</td>
            </tr>
            <tr>
                <th>Augmentation</th>
                <td>{{ contrat.augmentation }}</td>
            </tr>
            <tr>
                <th>PDF</th>
                <td><a href={{ asset("uploads/pdf/contrats/" ~ contrat.libellePDF|url_encode ) }}>{{contrat.libellePDF}}</a></td>
            </tr>
        
        </tbody>
    </table>

    <a href="{{ path('contrat_index') }}">retour au liste</a>

    <a href="{{ path('contrat_edit', {'id': contrat.id}) }}">Modifier</a>

    {{ include('contrat/_delete_form.html.twig') }}
{% endblock %}
